.alert {
    border-left: 15px solid;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: $box-shadow;
    margin: 1rem 0 1rem 0;
    text-align: center;
    &-danger {
        background: $grey-5;
        border-color: $secondary;
        color: $secondary;
    }
    
    &-default {
        background: $grey-5;
        border-color: $primary;
    }
}