.author {
    border-top: 1px solid $grey-1;
    border-bottom: 1px solid $grey-1;
    padding: 1rem 0 1rem 0;
    margin-bottom: 3rem;
    
    span {
        padding-top: .2rem;
        font-size: .9rem;
    }
}