.author {
  box-shadow: $box-shadow;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  background: linear-gradient(to right, $primary, $primary-darker);

  img {
    max-height: 4rem;
    border-radius: 50%;
    box-shadow: $box-shadow;
    margin-right: 1rem;
  }

  p {
    color: white;
  }

  a {
    color: white;
    &:hover {
      color: $secondary;
    }
  }

  span {
    color: white;
    font-weight: lighter;
  }
}
