.button {
    transition: all .2s;
    padding: .4rem 1rem .4rem 1rem;
    border-radius: 25px;
    border: 2px solid $primary-faded;
    background: transparent;
    color: $primary;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    &:active, &:focus {
        outline: none;
    }
    
    &:hover {
        background: $primary;
        color: white;
    }
    
    &-block {
        transition: all .2s;
        padding: .6rem;
        border-radius: 3px;
        background: $color5;
        color: white;
        border: none;
        cursor: pointer;
        display: block;
        width: 100%;
        
        &:active, &:focus {
            outline: none;
        }
        
        &:hover {
            background: $color5-dark;
        }
    }
}
