.comment {
    box-shadow: $box-shadow;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .8rem;
    border-radius: 3px;
    margin-bottom: .5rem;
    background: white;
    width: 100%;

    img {
        max-height: 4rem;
        border-radius: 50%;
    }

    &__main {
        margin-left: 1rem;
    }
    
    &__details {
        padding-bottom: .5rem;
    }

    &__options {
        padding-top: 1rem;
    }

    &__user {
        display: inline-block;
        margin-right: .5rem;
        font-size: .8rem;

        &:hover {
            color: $color5;
            text-decoration: underline;
        }
    }

    &__date {
        font-size: .7rem;
        font-weight: lighter;
        display: inline-block;
    }
}