.comment {
    box-shadow: $box-shadow;
    margin-bottom: .75rem;
    border-radius: 3px;
    &__top {
        display: flex;
        align-items: center;
    }
    
    &__body {
        padding: .7rem .5rem .7rem .5rem;

    }
    
    &__avatar {
        margin: .5rem;
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
    }
    
    &__info {
        padding: .2rem .5rem .2rem .5rem;
    }
    
}