.auth-form {
    padding: 2rem;
    border-radius: 5px;
    width: 100%;

    &__divider {
        margin-top: 15px;
    }

    &__label {
        display: block;
        padding-bottom: 5px;
    }

    &__alert {
        display: block;
        padding: .7rem;
        color: $white;
        background: $secondary-faded;
        border-radius: 5px;
        text-align: center;
        margin-bottom: 10px;
    }

    @include respond(tablet) {
        margin-top: 0;
    }
}

.auth-input {
    transition: all .2s;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    border: 1.5px solid $primary;

    &-error {
        border-color: $secondary;
    }



    input {
        transition: all .2s;
        border: none;
        font-weight: lighter;
        background: transparent;
        height: 100%;
        width: 100%;
        padding-left: 1rem;
        font-size: 1.1rem;
        color: white;

    
        &:focus {
            outline: none;
            color: $white;
        }

        &::placeholder {
            color: white;
        }

        &:focus {
            

            &::placeholder {
              
            }
        }
    }


    &__icon {
        transition: all .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 100%;
        border-radius: 0 5px 5px 0;
    }
}

.post-form {

    &__label {
        display: block;
        margin-bottom: .5rem;
    }

    &__divider {
        margin-top: 1.5rem;
    }
}

.comment-form {
    width: 100%;
    box-shadow: $box-shadow;
    padding: 2rem;
    border-radius: 3px;
}

.summary-form {
    display: block;
    width: 100%;
}
