.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    
    &-container {
        background: white;
        padding: 1.5rem;
        max-width: 700px;
        border-radius: 3px;
    }
}