.nav {
    height: 100vh;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 8rem;
    margin-right: 8rem;
    background: linear-gradient(to bottom, $primary, $primary-darker); // box-shadow: inset -1px 0px 25px 0px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    @include respond(tablet) {
        display: none;
    }

    &__spacer {
        flex-grow: 1;
    }



    &__drawer {
        left: 0;
        top: 50px;
        height: 100vh;
        background: $white;
        width: 200px;
        position: fixed;
        transition: all .2s;
        z-index: 5;



        &-show {
            transform: translateX(0);
            z-index: 4;
        }

        &-hide {
            transform: translateX(-100%);
        }

        &__backdrop {
            transition: all .2s;
            cursor: pointer;
            height: 100vh;
            width: 100vh;
            top: 50px;
            left: 0;
            position: fixed;
            background: rgba(0, 0, 0, 0.3);
            animation: fadeIn;
            animation-duration: .4s;
            z-index: 3;

        }
    }

    &__title {
        display: block;
        color: white;
        text-align: center;
        padding-top: 1rem;
        font-size: 3rem;
    }

    &__avatar {
        display: block;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin: auto;
        margin-top: 4rem;
        border-bottom: 1px solid $primary;

        &__name {
            font-weight: lighter;
            padding-top: .65rem;
            text-align: center;
            color: white;
            font-size: 1.2rem;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__link {
        z-index: 2;
        position: relative;
        width: 100%;
        transition: all .2s;
        color: $white-faded;
        cursor: pointer;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        font-size: 1.15rem;
        border-bottom: 1px solid $primary-darker;

        &__tooltip {
            z-index: 1;
            transition: all .3s;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            padding: 1rem;
            left: 8.3rem;
            transform: scale(0);
            background: $dark;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            font-size: .9rem;
            height: 100%;

            border-radius: 25px 25px 25px 25px;

        }

        &:hover {

            i {
                transform: scale(1.1);
            }

            .nav__link__tooltip {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }


    }
}

.home-nav {
    background: $grey-5;
    top: 0;
    z-index: 2;
    left: 0;
    padding-left: 9rem;
    padding-right: 1.5rem;
    width: 100%;
    position: fixed;
    height: 3.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    align-items: center;
    box-shadow: $box-shadow;

    @include respond(tablet) {
        padding-left: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 6.8rem;
        top: 50px;
    }

    &__search {
        margin-left: auto;
        width: 100%;
        display: flex;
        @include respond(tablet) {
            order: -1;
        }
    }
}

.mobile-nav {
    display: none;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 50px;
    background: linear-gradient(to right, $primary, $primary-darker);

    @include respond(tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link {
        padding: 1rem;
        text-align: center;
        color: $dark;

        &:hover {
            background: $primary;
            color: $white;
        }

        &-active {
            background: $primary;
            color: $white;
        }
    }

    &__btn {
        z-index: 2;
        display: none;
        position: fixed;
        font-size: 1.2rem;
        padding: .6rem;
        top: 8px;
        right: 10px;
        background: $dark;
        border: 1px solid $primary;
        color: white;
        border-radius: 20%;
        cursor: pointer;
        z-index: 5;

        @include respond(tablet) {
            display: block;
        }

        &:hover {
            background: $primary;
        }

        &:focus {
            background: $primary;
        }
    }
}




.home-nav__spacer {
    display: block;
    height: 3.5rem;
}

.active {
    color: white;
    background: $primary-darker;
}

.show-nav {
    position: fixed;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 0;
    left: 8rem;
    background: $white;
    box-shadow: $box-shadow;
    width: 100%;

    @include respond(tablet) {
        left: 0;
        top: 50px;
    }
}

.search-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 9rem;
    padding-right: 1rem;
    height: 3.4rem;
    background: $white;
    box-shadow: $box-shadow;

    @include respond(tablet) {
        top: 50px;
        padding-left: 1rem;
    }

    form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }


}
