
.nav {
    height: 100vh;
    left: 0;
    bottom: 0; 
    position: fixed;
    width: 8rem;
    /* background: linear-gradient(to bottom, $color5, $color5-dark); */
    background: $dark;
    // box-shadow: inset -1px 0px 25px 0px rgba(0,0,0,0.23);
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tablet) {
        display: none;
    }

    &__spacer {
        flex-grow: 1;
    }

    &__mobile-btn {
        display: none;
        position: fixed;
        font-size: 1.2rem;
        padding: 1rem;
        top: 10px;
        right: 10px;
        background: $color5;
        color: white;
        border-radius: 50%;
        cursor: pointer;
        z-index: 5;
        @include respond(tablet) {
            display: block;
        }
    }

    &__drawer {
        left: 0;
        top: 0;
        height: 100vh;
        background: $color5;
        width: 100px;
        position: fixed;
        transition: all .2s;



        &-show {
            transform: translateX(0);
            z-index: 3;
        }

        &-hide {
            z-index: -1;
            transform: translateX(-100%);
        }

        &__backdrop {
            transition: all .2s;
            cursor: pointer;
            height: 100vh;
            width: 100vh;
            top: 0;
            left: 0;
            position: fixed;
            background: rgba(0, 0, 0, 0.3);

            &-show {
                z-index: 2;
                opacity: 1;
            }

            &-hide {
                z-index: -1;
                opacity: 0;
            }
        }
    }

    &__title {
        display: block;
        color: white;
        text-align: center;
        padding-top: 1rem;
        font-size: 3rem;
    }
    
    &__avatar {
        display: block;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        margin: auto;
        margin-top: 4rem;
        border-bottom: 1px solid $primary;

        &__name {
            font-weight: lighter;
            padding-top: .65rem;
            text-align: center;
            color: white;
            font-size: 1.2rem;
        }
    }
    
    &__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    &__link {
        width: 100%;
        transition: all .2s;
        color: $white-faded;
        cursor: pointer;
        padding: 1rem;
        text-decoration: none;
        text-align: center;
        font-size: 1.15rem;
        border-bottom: 1px solid black;
        
        &:hover {
            color: $white;
            i {
                transform: scale(1.1);
            }
            
        }

        
    }
}

.home-nav {
    background: $white;
    top: 0;
    left: 8rem;
    width: 100%;
    position: fixed;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0 1rem 0 1rem;

    @include respond(tablet) {
        left: 0;
    }
}

.home-nav__spacer {
    display: block;
    height: 3.5rem;
}

.active {
    color: $white;
    background: black;
}