.post-list-item {
    transition: all .1s;
    box-shadow: $box-shadow;
    border-radius: 0px;
    margin-bottom: .7rem;
    display: flex;
    align-items:  center;
    background: $grey-5;
    

    &__content {
        flex-grow: 1;
    }

    h4 {
        padding: 1rem 1rem .5rem 1rem;
    }
     
    &__img { 
        position: relative;
        height: 4rem;
    }
    
    &__details {
        padding: .5rem 1rem .5rem 1rem;
        width: 100%;
        border-top: 1px solid $grey-3;
    }

    &__stats {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 5rem;
    }   
    
    &:hover {
        background: $grey-4;
    }
    } 

.other-post {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: $box-shadow;
    border-radius: 0px;
    min-height: 4rem;
    background: $grey-5;

    &:hover {
        background: $grey-4;
    }

    &__content {
        padding: 1rem
    }


    img {
        margin-right: .5rem;
        max-width: 9rem;
    }
} 