.post-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 4.3rem;
    background: $grey-5;
    border-radius: 0 0 3px 3px;
    padding: 1rem 2rem 1rem 2rem;
    border-top: 1.2px solid $primary;
}  