@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
    
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.fade-interval-1 {
    animation: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.fade-interval-2 {
    animation: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

.fade-interval-3 {
    animation: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes color-pulse {
    0% {
        background: $primary;
        border-radius: 20px;
    }
    
    50% {
        background: $secondary;
        border-radius: 10px;
    }
    
    100% {
        background: $primary;
        border-radius: 20px;
    }
    
    
}

.color-pulse {
    animation: color-pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}