h1, h2, h3, h4 {
    color: $text-heading;
    font-family: 'Sarabun', sans-serif
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem
}

h3 {
    font-size: 1.75rem
}

h4 {
    font-size: 1.125rem
}

p, li, a, button, input, textarea, label {
    font-size: 1rem;
    white-space: pre-wrap;
    color: $text-body;
}

span {
    font-size: 1rem;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.font-light {
    font-weight: lighter;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

.color-primary {
    color: $color5;
}

.border-bottom {
    border-bottom: 1px solid $color5
}

.font-small {
    font-size: .9rem;
}