h1,
h2,
h3,
h4 {
    color: $text-heading;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 2rem;
    letter-spacing: .4px;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.55rem
}

h4 {
    font-size: 1.125rem
}

p,
li,
a,
button,
input,
select,
option, 
textarea,
label,
span {
    font-size: 1rem;
    white-space: pre-wrap;
    color: $text-body;
}

.article-body {
    font-size: 1rem;
}

span {
    font-size: 1rem;
}

a {
    display: block;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.font-light {
    font-weight: lighter;
}

.font-normal {
    font-weight: normal;
}

.font-bold {
    font-weight: bold;
}

.logo {
    font-family: 'Comfortaa', sans-serif;
}

.font-small {
    font-size: .9rem;
}

.line-height {
    line-height: 1.8rem;
}

.post-body {
    font-size: 1.1rem;
    color: $text-body;
    line-height: 2.1rem;
    margin-top: 1rem;
}

.post-heading {
    font-size: 2.3rem;
    color: $text-heading;

    font-weight: normal;
    line-height: 2.8rem;
    padding-top: 2rem;
    padding-bottom: .5rem;
}

.post-category {
    border-bottom: 1.2px solid $primary;
    background: $grey-5;
    color: $primary;
    padding: .6rem;
    text-align: left;
    text-align: center;
}

.post-caption {
    font-size: 1.4rem;
    color: $text-caption;
    font-weight: lighter;
    line-height: 2.3rem;
    padding-bottom: 1rem;
} 

.post-image {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.formatted-h1 {
    font-size: 1.7rem;
    display: inline-block;
}

.formatted-h2 {
    font-size: 1.4rem;
    display: inline-block;
}

.formatted-h3 {
    font-size: 1.3rem;
    display: inline-block;
}

.github-link {
    transition: all .2s;
    box-shadow: $box-shadow;
    font-size: 1.1rem;
    text-align: center;
    flex-grow: 1;
    padding: .6rem;
    background: $primary;
    color: $white;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background: $primary-darker;
    }
}
