$color1: rgba(246, 232, 234, 1);
$color2: rgba(239, 98, 108, 1);
$color2-dark: #C45159;
$color3: rgba(34, 24, 28, 1);
$color4: rgba(49, 47, 47, 1);
$color5: #5158BB;
$color5-light: #8085CD;
$color5-dark: #252855; 
 
$grey-1: rgb(210, 210, 210); 
$grey-2: rgb(220, 220, 220);
$grey-3: rgb(230, 230, 230);
$grey-4: rgb(240, 240, 240);
$grey-5: rgb(250, 250, 250);

$text-heading: #16343C;
$text-body: #214E5A;
$text-caption: #5D7E87;

$input-shadow-after: 0px 0px 0px 2px $color5-light;
$input-shadow-before: 0px 0px 1px -1px $color5-light;

$input-shadow-error: 0px 0px 1px -1px $color2;

$box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.37); 